			<div class="full-width">
				<div id="slider-rubrique" class="slider-pro">
				    <div class="sp-slides">
				        <!-- Slide 1 -->
				        <div class="sp-slide">
				        	<img class="sp-image" src="//dummyimage.com/1800x200/ffbf34/fff.png&text=visuel+rubrique" />
				            <div class="sp-layer sp-black sp-padding" data-horizontal="100" data-vertical="50" data-width="350"  >
				            	<h3>Lorem ipsum dolor sit amet</h3>
				            	<p >consectetur adipisicing elit</p>
				            </div>
				        </div>
				    </div>
				</div>
			</div>