		<section  class="layout">
			<div id="content">
				<header>
					<h2><span class="glyph glyph-points"></span>L’heure du conte</h2>
					<!-- post details -->
					<span class="author">publié par le Plessis-Belleville</span> - 
					<span class="date">13 janvier 2017</span>
					
				</header>
				
				<!-- article -->
				<article id="post-48" class="post-48 post type-post status-publish format-standard has-post-thumbnail hentry category-enfants">

					<!-- post thumbnail -->
					<div class="logo"><img src="http://phracktale.com/projets/p1/www/wp-content/uploads/2017/01/loup-en-slip.jpg" class="attachment-300x300 size-300x300 wp-post-image" alt="" srcset="http://phracktale.com/projets/p1/www/wp-content/uploads/2017/01/loup-en-slip.jpg 400w, http://phracktale.com/projets/p1/www/wp-content/uploads/2017/01/loup-en-slip-150x150.jpg 150w, http://phracktale.com/projets/p1/www/wp-content/uploads/2017/01/loup-en-slip-250x250.jpg 250w, http://phracktale.com/projets/p1/www/wp-content/uploads/2017/01/loup-en-slip-120x120.jpg 120w, http://phracktale.com/projets/p1/www/wp-content/uploads/2017/01/loup-en-slip-200x200.jpg 200w" sizes="(max-width: 300px) 100vw, 300px"></div>
					<!-- /post thumbnail -->
					<!-- /post details -->

					<p>Lecture du «&nbsp;Loup en Slip&nbsp;» à la médiathèque</p>
					<p>
					Le loup terrorise la forêt et ses habitants qui vivent continuellement dans la peur de se faire croquer les fesses. Jusqu'au jour où le loup descend dans la forêt... Méconnaissable ! Le loup ne fait plus peur du tout, il n'a plus le regard fou ni les poils dressés ! Mais comment vivre sans la peur, quand la peur est devenue l'unique moteur ?
					</p>
					<hr class="separateur">

					
					<p>Catégorie: <a href="#" rel="tag">Enfants</a></p>

					<hr class="separateur">

			 
					<div id="respond" class="comment-respond">
						<h3 id="reply-title" class="comment-reply-title">Laisser un commentaire <small><a rel="nofollow" id="cancel-comment-reply-link" href="#respond" style="display:none;">Annuler la réponse.</a></small></h3>
						<form action="#" method="post" id="commentform" class="comment-form">
							<p class="logged-in-as">
								<a href="#" aria-label="Connexion en tant que le plessis-belleville. Modifier votre profil.">Connecté(e) en tant que le plessis-belleville</a>. 
								<a href="#">Déconnexion&nbsp;?</a>
							</p>
							<p class="comment-form-comment">
								<label for="comment">Commentaire</label> 
								<textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" aria-required="true" required="required"></textarea>
							</p>
							<p class="form-submit">
								<input name="submit" type="submit" id="submit" class="submit" value="Laisser un commentaire">
							</p>
						</form>
					</div>
			
				</article>

			</div>
			<aside>
				<div id="text-3" class="widget_text">
					<h3>Guide des associations</h3>
					<div class="textwidget">
						<a href="#" title="Télécharger le nouveau guide des associations 2015-2016">
							<img src="http://phracktale.com/projets/p1/www/wp-content/uploads/2017/01/guide-asso.jpg" alt="Guide des associations">
						</a>
					</div>
				</div>
			</aside>
		</section>