		<footer id="footer" role="contentinfo" class="pam full-width">
			<div class="wrapper">
				<div class="grid-3">
					<div>
						<h3>Infos pratiques</h3>
						<ul>
							<li><a href="#">Annuaire des associations</a></li>
							<li><a href="#">Presse</a> </li>
						</ul>
					</div>
					<div>
						<h3>Infos pratiques</h3>
						<ul>
							<li><a href="#">Le site de la mairie</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Plan du site</a></li>
						</ul>
					</div>
					<div>
						<h3>le PLessis-Belleville</h3>
						8 Place de l’Eglise
						<br />60330 Le Plessis Belleville
						<br />Tél : 03.44.60.72.00 – Fax : 03.44.60.72.12
					</div>

					<div></div>
					<div></div>
					<div>
						<h3>Suivez nous</h3>
						
						<a href="#" title="facebook" class="social"><img src="assets/img/ico-facebook.svg" alt="page facebook" width="64" height="64"/></a>
						<a href="#" title="twitter" class="social"><img src="assets/img/ico-facebook.svg" alt="compte twitter" width="64" height="64"/></a>
						<a href="#" title="youtube" class="social"><img src="assets/img/ico-youtube.svg" alt="chaine youtube" width="64" height="64"/></a>
					</div>

				</div>
			</div>
			<div id="post-footer" class="full-width">
				<div class="txtcenter wrapper">
					<a href="#">Crédit</a> <a href="#">Mentions légales</a> <a href="wp-admin">Administration</a>
				</div>
			</div>
		</footer>