		<meta charset="UTF-8">
		<title><!-- @@var title --></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="assets/css/styles.min.css" media="all">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,700" media="all">
		<meta name="description" content="La culture au plessis-belleville" />