		<header id="header" role="banner" class="full-width" style="background-image: url(assets/img/header.jpg)">
			<div class="wrapper">
				<div class="preheader">
				<a href="http://www.leplessisbelleville.fr/" class="mairie" title="Accès mairie">
					Le Plessis<br/><b>BELLEVILLE</b>
				</a>
				</div>
					<h1>
						<a href="01-accueil.html">
							<img src="assets/img/logo-culture.svg" alt="le PLessis-Belleville - Activités culturelles" />
						</a>
					</h1>
				<!-- @@include navigation.html -->
				<hr class="hide" />
			</div>

		</header>