			<div class="line full-width bg_odd pbl">
				<div class="wrapper"> 
					<h2 class="txtcenter"><span class="gliph gliph-points"></span>Théma</h2>
					<span class="soustitre">L'offre culturelle de votre commune par thèmes</span>
					<div class="grid-6-small-3-tiny-1 has-gutter mtl">
						<div class="item item-fixe mbl">
							
								<div class="wrapper-img">
									<a href="#"><img src="//dummyimage.com/200x200/4ca244/fff.png&text=Musique" alt="musique" /></a>
									<div class="caption">
										<a href="#"><h3>Musique</h3></a>
									</div>
								</div>
							</a>
						</div>

						<div class="item item-fixe mbl">
							
								<div class="wrapper-img">
									<a href="#"><img src="//dummyimage.com/200x200/4ca244/fff.png&text=Théâtre" alt="Théâtre" /></a>
									<div class="caption">
										<a href="#"><h3>Théatre</h3></a>
										
									</div>
								</div>
							</a>
						</div>

						<div class="item item-fixe mbl">
							
								<div class="wrapper-img">
									<a href="#"><img src="//dummyimage.com/200x200/4ca244/fff.png&text=Médiathèque" alt="Médiathèque" /></a>
									<div class="caption">
										<a href="#"><h3>Médiathèque</h3></a>
										
									</div>
								</div>
							</a>
						</div>

						<div class="item item-fixe mbl">
							
								<div class="wrapper-img">
									<a href="#"><img src="//dummyimage.com/200x200/4ca244/fff.png&text=Comité des fêtes" alt="Comité des fêtes" /></a>
									<div class="caption">
										<a href="#"><h3>Comité des fêtes</h3></a>
										
									</div>
								</div>
							
						</div>

						<div class="item item-fixe mbl">
							
								<div class="wrapper-img">
									<a href="#"><img src="//dummyimage.com/200x200/4ca244/fff.png&text=Jeune public" alt="Jeune public" /></a>
								</div>
								<div class="caption">
									<a href="#"><h3>Jeune public</h3></a>
									
								</div>
							</a>
						</div>

						<div class="item item-fixe mbl">
								<div class="wrapper-img">
									<a href="#"><img src="//dummyimage.com/200x200/4ca244/fff.png&text=Formation artistiques" alt="Formation artistique" /></a>
								</div>
								<div class="caption">
									<a href="#"><h3>Formation artistiques</h3></a>
									
								</div>
							</a>
						</div>
						
					</div>
					<p class="txtcenter mam"><a href="#" class="btn btn-primary btn-large">Voir plus</a></p>
				</div>
			</div>