			<div class="full-width">
				<h2 class="hide">Focus sur les activités culturelles</h2>
				<div id="slider-home" class="slider-pro">
				    <div class="sp-slides">
				        <!-- Slide 1 -->
				        <div class="sp-slide">
				            <img class="sp-image" src="assets/img/slide-mediatheque.jpg" alt="La médiathèque" />
				            <div class="sp-layer sp-black sp-padding" data-horizontal="60" data-vertical="60" data-width="350" data-show-transition="left" data-show-delay="400" >
				            	<h3>La médiathèque municipale</h3>
				            </div>
				            <div class="sp-layer sp-black sp-padding" data-horizontal="60" data-vertical="140" data-width="350" data-show-transition="left" data-show-delay="600" >
				            	La médiatheque vous accueille du Mardi au vendredi de 10h à 17h30
				            	<br/>Et le samedi de 10h à 12h
				            </div>
				        </div>

				        <!-- Slide 2 -->
				        <div class="sp-slide">
				        	<img class="sp-image" src="assets/img/slide-incontournables.jpg" alt="Les incontournables" />
				            <div class="sp-layer sp-black sp-padding" data-horizontal="60" data-vertical="60" data-width="350" data-show-transition="left" data-show-delay="400" >
				            	<h3>10 idées pour le weekend</h3>
				            </div>
				            <div class="sp-layer sp-black sp-padding" data-horizontal="60" data-vertical="140" data-width="350" data-show-transition="left" data-show-delay="600" >
				            	<p>Découvrez notre TOP des lieux incontournables à voir pendant votre séjour dans l'Oise.</p>
				            </div>
				        </div>

				        <!-- Slide 3 -->
				        <div class="sp-slide">
				        	<img class="sp-image" src="assets/img/slide-nature.jpg"  alt="Focus 3" />
				            <div class="sp-layer sp-black sp-padding" data-horizontal="60" data-vertical="60" data-width="350" data-show-transition="left" data-show-delay="400" >
				            	<h3>Ballades nature</h3>
				            </div>
				            <div class="sp-layer sp-black sp-padding" data-horizontal="60" data-vertical="140" data-width="350" data-show-transition="left" data-show-delay="600" >
				            	<p >Des idées de ballades dans la nature, en famille ou en solo.</p>
				            </div>
				        </div>
				    </div>
				</div>
			</div>