			<div id="reassurance" class="line">
				<h2 class="txtcenter">Notre engagement fort envers le bien-être au travail</h2>
				<div class="grid has-gutter txtcenter">
					<div>
						<img src="assets/img/ico-horloge.svg" alt="Argument 1" />
						<h3>Argument 1</h3>
						<div class="txtleft">
							Donec at ante et dui mattis venenatis. Praesent varius risus non nisi eleifend lacinia. Sed ut dignissim nibh. Integer mattis nisl sit amet sem mattis porttitor. Nam ut arcu scelerisque, lacinia nisl at, sodales augue. In hac habitasse platea dictumst. Proin vulputate eros non diam viverra, id elementum justo viverra. 
						</div>
					</div>

					<div>
						<img src="assets/img/ico-relax.svg" alt="Argument 2" />
						<h3>Argument 2</h3>
						<div class="txtleft">
							Donec at ante et dui mattis venenatis. Praesent varius risus non nisi eleifend lacinia. Sed ut dignissim nibh. Integer mattis nisl sit amet sem mattis porttitor. Nam ut arcu scelerisque, lacinia nisl at, sodales augue. In hac habitasse platea dictumst. Proin vulputate eros non diam viverra, id elementum justo viverra. 
						</div>
						
					</div>

					<div>
						<img src="assets/img/ico-perf.svg" alt="Argument 3" />
						<h3>Argument 3</h3>
						<div class="txtleft">
							Donec at ante et dui mattis venenatis. Praesent varius risus non nisi eleifend lacinia. Sed ut dignissim nibh. Integer mattis nisl sit amet sem mattis porttitor. Nam ut arcu scelerisque, lacinia nisl at, sodales augue. In hac habitasse platea dictumst. Proin vulputate eros non diam viverra, id elementum justo viverra. 
						</div>
						
					</div>
				</div>
			</div>