			<div class="line">
				<h2 class="txtcenter">Bienvenue sur le site "CULTURES" de le Plessis-Belleville</h2>
				<p>
					Vous trouverez sur ce site l'intégralité de l'offre culturelle de votre commune.
					<br />
					Un certains nombres de manifestation vous sont ouvertes
				</p>
          	</div>