			<div class="line">
				<h2 class="txtcenter"><span class="glyph glyph-points"></span>Actualités</h2>
				<p class="txtcenter">Retrouvez nos dernières informations.</p>
				<div class="grid-3-small-2-tiny-1 has-gutter mtl flex-centered">
					<div class="item item-zoom mbl">
						<a href="#">
							<div class="wrapper-img">
								<img src="assets/img/medievales.jpg"  alt="Les médiévales"/>
								<div class="badge">Festivités</div>
								<div class="caption">
									<div class="date">10-12 Février 2017</div>
									<h3>Fête médiévale </h3>
									Venez nombreux en heureuse famille 
									vous ésbaudirent à la grande festoie des paladins.
								</div>
							</div>
						</a>
						<hr class="hide" />
					</div>
					<div class="item item-zoom mbl">
						<a href="#">
							<div class="wrapper-img">
								<img src="assets/img/loup-en-slip.jpg"  alt="Le loup en slip"/>
								<div class="badge">Enfants</div>
								<div class="caption">
									<div class="date">20 Février 2017</div>
									<h3>L'heure du conte</h3>
									Lecture du "Loup en Slip" à la médiathèque
								</div>
							</div>
						</a>
						<hr class="hide" />
					</div>x
				</div>
				<p class="txtcenter mam"><a href="#" class="btn btn-primary btn-large">Voir plus</a></p>
			</div>