			<div class="line">
				<h2 class="txtcenter"><span class="glyph glyph-points"></span>Plus d'infos</h2>
				<p>
					Retrouvez l'intégralité de l'offre culturelle de votre commune par thème.
				</p>
          	</div>