<div class="item item-fixe mbl">
	
		<div class="wrapper-img">
			<div class="logo">
				<img src="//dummyimage.com/190x130/ffbf34/fff.png&text=<!-- @@var titre -->" alt="<!-- @@var titre -->">
			</div>
			<div class="caption">
				<h3>Comité des fêtes</h3>
				Le comité des fêtes est une association à but non lucratif ayant pour objet de coordonner et d’organiser toutes les manifestations et festivités de la commune, d’établir un calendrier annuel, et d’aider efficacement les initiatives pour le bien public.
			</div>
		</div>
	
	<hr class="hide">
</div>