<a href="#">
	<img class="logo" src="//dummyimage.com/190x130/ffbf34/fff.png&text=<!-- @@var titre -->" alt="<!-- @@var titre -->" />
	<div class="presentation">
		<h3><!-- @@var titre --></h3>
		<p>Fusce posuere sit amet eros eu accumsan. Maecenas vel lectus ac ex accumsan placerat eu et lectus. Aenean et ligula congue neque condimentum laoreet a vitae metus. Quisque sapien metus, interdum nec metus at, aliquam sollicitudin mi.</p>
		<a href="03-single-actu.html" class="btn btn-primary fr mtl">En savoir plus</a>
	</div>
</a>