<div class="grid">
	<div class="one-sixth date">
		<div class="card">
		 	<p>15 Décembre</p>
		 	<p class="an">2017</p>
		</div>
	</div>
	<div class="two-thirds evenement">
		<h3><!-- @@var titre --></h3>
			<img class="logo" src="//dummyimage.com/190x130/ffbf34/fff.png&text=<!-- @@var titre -->" alt="<!-- @@var titre -->" /><p>Fusce posuere sit amet eros eu accumsan. Maecenas vel lectus ac ex accumsan placerat eu et lectus. Aenean et ligula congue neque condimentum laoreet a vitae metus. Quisque sapien metus, interdum nec metus at, aliquam sollicitudin mi.</p>
	</div>
	<div class="one-sixth inscription">
		<a href="03-single-actu.html" class="btn btn-primary fr mtl">S'inscrire</a>
	</div>
</div>