<ul class="lienAccess hide">
	<li><a href="/">Accueil</a></li>
	<li><a href="#menu">Menu</a></li>
	<li><a href="#contenu">Contenu</a></li>
	<li><a href="#champRecherche">Recherche</a></li>
	<li><a class="accessibilite" href="100-accessibilite.html">Accessibilité</a></li>
</ul>