		
		<nav id="navigation" role="navigation" class="full-width fixed">
			<div class="wrapper">
				<div class="grid">
					<div>
						<a name="menu" class="hide"><h2>Menu de navigation principal</h2></a>
						<a href="#" class="mobile link-menu-mobile on"><span></span></a>
						<div id="mobile-search" class="mobile">
							<form>
								<a name="champRecherche" class="hide"><h2>Recherche</h2></a>
								<hr class="hide" />
								<div class="input-group  txtright pam">
							      <label for="recherche" class="hide">Votre recherche</label><input type="text" name="recherche" id="recherche" class="form-control" placeholder="Votre recherche...">
							      <span class="input-group-btn">
							        <button class="btn btn-default" type="button">Go!</button>
							      </span>
							    </div>
							</form>
						</div>
						<ul id="menu-principal" class="desktop active">
							<li class="inbl"><a href="01-accueil.html"><i class="desktop glyph glyph-home"></i><span>Accueil</span></a></li>
							<li class="inbl"><a href="02-actualites.html"><span>Actualités</span></a></li>
							<li class="inbl"><a href="03-plus-d-infos.html"><span>Plus d’infos</span></a></li>
							<li class="inbl"><a href="04-activites-du-mois.html"><span>Activités du mois</span></a></li>
							<li class="inbl"><a href="05-contact.html"><span>Contact</span></a></li>
						</ul>
						<hr class="hide" />
					</div>
					<div class="desktop one-third">
						<div class="grid">
						<span id="bar-search">
							<form>
								<a name="champRecherche" class="hide"><h2>Recherche</h2></a>
								<hr class="hide" />
								<div class="input-group  txtright pam">
							      <label for="recherche" class="hide">Votre recherche</label><input type="text" name="recherche" id="recherche" class="form-control" placeholder="Votre recherche...">
							      <span class="input-group-btn">
							        <button class="btn btn-default" type="button">Go!</button>
							      </span>
							    </div>
							</form>
						</span>
							<a href="01-accueil.html" class="logo-nav hide">
								<img src="assets/img/logo-culture-nav.svg" alt="le PLessis-Belleville - Activités culturelles" />
							</a>
						</div>
						<hr class="hide" />
					</div>
				</div>				
			</div>
		</nav>