		<section id="slider">
			<!-- @@include activites-slider.html -->
		</section>
		<section  class="layout">
			<div id="content">
				<header>
					<!-- @@include activites-presentation.html -->
				</header>
				<article>
					<div role="form" class="wpcf7" id="wpcf7-f78-p21-o1" lang="fr-FR" dir="ltr">
						<div class="screen-reader-response" role="alert">Un ou plusieurs champs contiennent une erreur. Veuillez vérifier et essayer à nouveau.
						<ul>
						<li>Ce champ est obligatoire.</li>
						<li>Ce champ est obligatoire.</li>
						<li>Ce champ est obligatoire.</li>
						</ul>
						</div>
						<form action="/projets/p1/www/contact/#wpcf7-f78-p21-o1" method="post" class="wpcf7-form invalid" novalidate="novalidate">
						<div style="display: none;">
						<input type="hidden" name="_wpcf7" value="78">
						<input type="hidden" name="_wpcf7_version" value="4.6">
						<input type="hidden" name="_wpcf7_locale" value="fr_FR">
						<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f78-p21-o1">
						<input type="hidden" name="_wpnonce" value="a1a1354c09">
						</div>
						<div class="form-group">
						    <label for="nom"> Votre nom <small>(obligatoire)</small></label><br>
						    <span class="wpcf7-form-control-wrap nom"><input type="text" name="nom" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required wpcf7-not-valid form-control" aria-required="true" aria-invalid="true"><span role="alert" class="wpcf7-not-valid-tip">Ce champ est obligatoire.</span></span>
						</div>
						<div class="form-group">
						    <label for="date-naissance"> Votre date de naissance</label><br>
						    <span class="wpcf7-form-control-wrap date-naissance"><input type="date" name="date-naissance" value="" class="wpcf7-form-control wpcf7-date wpcf7-validates-as-date form-control" aria-invalid="false"></span><br>
						    <small>Merci de renseigner la date au format JJ/MM/AAAA</small>
						</div>
						<div class="form-group">
						    <label for="email"> Votre e-mail (obligatoire) </label><br>
						    <span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email wpcf7-not-valid form-control" aria-required="true" aria-invalid="true"><span role="alert" class="wpcf7-not-valid-tip">Ce champ est obligatoire.</span></span>
						</div>
						<div class="form-group">
						<label for="resident "> Résident de la ville (obligatoire) </label><br>
						<span class="wpcf7-form-control-wrap resident"><span class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required wpcf7-not-valid form-control"><span class="wpcf7-list-item first last"><label><input type="checkbox" name="resident[]" value="Oui"><span class="wpcf7-list-item-label">Oui</span></label></span></span><span role="alert" class="wpcf7-not-valid-tip">Ce champ est obligatoire.</span></span>
						</div>
						<div class="form-group">
						    <label for="objet"> Objet de votre demande (obligatoire)</label><br>
						    <span class="wpcf7-form-control-wrap objet"><select name="objet" class="wpcf7-form-control wpcf7-select form-control" aria-invalid="false"><option value="Renseignements" selected="selected">Renseignements</option><option value="Comité des fêtes">Comité des fêtes</option><option value="Réclamation">Réclamation</option><option value="Sécurité">Sécurité</option><option value="Autre">Autre</option></select></span>
						</div>
						<div class="form-group">
						    <label for="titre"> Titre du message </label><br>
						    <span class="wpcf7-form-control-wrap titre"><input type="text" name="titre" value="" size="40" class="wpcf7-form-control wpcf7-text form-control" aria-invalid="false"></span>
						</div>
						<div class="form-group">
						    <label for="message"> Votre message </label><br>
						    <span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea form-control" aria-invalid="false"></textarea></span>
						</div>
						<p><input type="submit" value="Envoyer" class="wpcf7-form-control wpcf7-submit"></p>
						<div class="wpcf7-response-output wpcf7-validation-errors" role="alert">Un ou plusieurs champs contiennent une erreur. Veuillez vérifier et essayer à nouveau.</div></form></div>
					
				</article>
				
			</div>
		</section>