		<section id="slider">
			<!-- @@include infos-slider.html -->
		</section>
		<section  class="layout">
			<div id="content">
				<header>
					<!-- @@include infos-presentation.html -->
				</header>
				<article>
					<div class="line">
						<div class="row has-gutter mtl">
							<!-- @@include item-info.html {"titre": "Musique", "path": "../"} -->
							<!-- @@include item-info.html {"titre": "Théatre", "path": "../"} -->
							<!-- @@include item-info.html {"titre": "Médiathèque", "path": "../"} -->
							<!-- @@include item-info.html {"titre": "Comité des fêtes", "path": "../"} -->
							<!-- @@include item-info.html {"titre": "Jeune public", "path": "../"} -->
							<!-- @@include item-info.html {"titre": "Formations artistique", "path": "../"} -->
							
						</div>
					</div>
				</article>
			</div>
			<aside>
				<div id="text-3" class="widget_text">
					<h3>Guide des associations</h3>
					<div class="textwidget">
						<a href="#" title="Télécharger le nouveau guide des associations 2015-2016"><img src="//dummyimage.com/339x485/ffbf34/fff.png&text=Guide+des+associations" alt="Guide des associations"></a>
					</div>
				</div>
				<div class="bloc">
					<!-- @@include rubriques-contact.html -->
				</div>
				<div class="bloc">
					<!-- @@include rubriques-themes.html -->
				</div>
			</aside>
		</section>