		<section id="slider">
			<!-- @@include actualites-slider.html -->
		</section>
		<section  class="layout">
			<div id="content">
				<header>
					<!-- @@include actualites-presentation.html -->
				</header>
				<div>
					<div class="items-list">
						<article class="primary">
							<!-- @@include item-actu.html {"titre": "Actu principale 1", "path": "../"} -->
						</article>
						<article class="primary">
							<!-- @@include item-actu.html {"titre": "Actu principale 2", "path": "../"} -->
						</article>
						<article>
							<!-- @@include item-actu.html {"titre": "Actu 1", "path": "../"} -->
						</article>
						<article>
							<!-- @@include item-actu.html {"titre": "Actu 2", "path": "../"} -->
						</article>
						<article>
							<!-- @@include item-actu.html {"titre": "Actu 3", "path": "../"} -->
						</article>
						<article>
							<!-- @@include item-actu.html {"titre": "Actu 4", "path": "../"} -->
						</article>
						<article>
							<!-- @@include item-actu.html {"titre": "Actu 5", "path": "../"} -->
						</article>
					</div>
					<!-- @@include pagination.html  -->
				</div>

			</div>
			<aside>
				<div class="widget_text">
					<h3>Guide des associations</h3>
					<div class="textwidget">
						<a href="#" title="Télécharger le nouveau guide des associations 2015-2016"><img src="//dummyimage.com/339x485/ffbf34/fff.png&text=Guide+des+associations" alt="Guide des associations"></a>
					</div>
				</div>
				<div class="bloc">
					<!-- @@include rubriques-contact.html -->
				</div>
				<div class="bloc">
					<!-- @@include rubriques-themes.html -->
				</div>
			</aside>
		</section>