		<section id="slider">
			<!-- @@include activites-slider.html -->
		</section>
		<section  class="layout">
			<div id="content">
				<header>
					<!-- @@include activites-presentation.html -->
				</header>
				<div class="alert alert-success">Merci, votre inscription a bien été envoyée.</div>
				<div class="alert alert-error">Problème d'envoi d'email.</div>
				<section class="activites">
					<div class="grid header">
						<div class="one-sixth">Date</div><div class="two-thirds">Evènement</div><div class="one-sixth"></div>
					</div>
					<div class="body row-hover">
						<!-- @@include item-activite.html {"titre": "Actu 1", "path": "../"} -->
						<!-- @@include item-activite.html {"titre": "Actu 2", "path": "../"} -->
						<!-- @@include item-activite.html {"titre": "Actu 3", "path": "../"} -->
						<!-- @@include item-activite.html {"titre": "Actu 4", "path": "../"} -->
						<!-- @@include item-activite.html {"titre": "Actu 5", "path": "../"} -->
						<!-- @@include item-activite.html {"titre": "Actu 6", "path": "../"} -->
						<!-- @@include item-activite.html {"titre": "Actu 7", "path": "../"} -->
						<!-- @@include item-activite.html {"titre": "Actu 8", "path": "../"} -->
						<!-- @@include item-activite.html {"titre": "Actu 9", "path": "../"} -->
						<!-- @@include item-activite.html {"titre": "Actu 10", "path": "../"} -->
					</tbody>
				</section>
				
			</div>
		</section>