<div class="pagination">
	<span class="page-numbers current">1</span>
	<a class="page-numbers" href="http://phracktale.com/projets/p1/www/actualites/page/2/">2</a>
	<a class="page-numbers" href="http://phracktale.com/projets/p1/www/actualites/page/3/">3</a>
	<a class="next page-numbers" href="http://phracktale.com/projets/p1/www/actualites/page/2/">Suivant »</a>
</div>