// Responsive breakpoints variables

// Warning : you should use your own values, regardless of the devices
// Best practise : (max-width: $BP) and (min-width: ($BP + 1))
$tiny: em(543px) !default; // or 'em' if you prefer, of course
$tiny-plus: em(544px) !default;
$small: em(767px) !default;
$small-plus: em(768px) !default;
$medium: em(991px) !default;
$medium-plus: em(992px) !default;
$large: em(1199px) !default;
$large-plus: em(1200px) !default;
$extra-large: em(1439px) !default;
$extra-large-plus: em(1440px) !default;
