// ##################################################################
// ##
// ## PLUGINS & LIBRAIRIES
// ##
// ##################################################################

/*=include ../vendor/animate/animate.css */


@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(http://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(http://fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

// ##################################################################
// ##
// ## GENERIC
// ##
// ##################################################################

html, body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; /* overflow-x fix on iOS */
  font-family: Raleway;
  font-weight: 400;
}

body { 
  background: #fff ;
  border-top: 4px solid #{$brand-primary};
  width: 100%
    
}

h1, h2, h3, h4, h5 { margin: 0; line-height: 1.3}
h2,h3 {
    text-transform: uppercase;
    font-weight: 300;
}

section {
    padding: 0 0.5em;
}

article p {
  margin-bottom: 2em;
}

a.social {
  filter: grayscale(100%);
  &:hover {
    filter: grayscale(0);
  }
}

// ##################################################################
// ##
// ## LAYOUT
// ##
// ##################################################################
  
  .flex-centered {
    justify-content: center;
  }
  .line {
      padding: 2em;
      /* margin-top: 3em;*/
  }
  
  .layout {
    display: flex;
    padding:2em;
    flex-direction: row;

    #content {
      flex: 2;
      header {
          padding-bottom: 4em;
      }
    }
    aside {
      flex: 1;
      background: #eee;
      .widget_text {
          padding: 1em;
          text-align: center;
          h3 {
            text-align: center;
          }
      }

    }
  }


.logo {
  float: left;
  margin: 0 0.5em 0.5em 0;
}

.date {
  text-align: center;
   .card {
      width: 7em;
      margin: 0 auto;
      background: rgba(76, 162, 68, 0.12);
      padding: 2em 1em;
      border-radius: 5px;
  }
  p {
    font-size: 0.8em;
    margin: 0 auto 0.5em;
    white-space: nowrap;
    line-height: 1;
    &.an{
      font-size: 2em;
    font-weight: 700;
    color: #{$brand-primary};
    border-top: 2px solid;
    width: 100%;
    margin: 0 auto;
    }
  }
}

.body{
    .grid {
      padding: 3em .5em 2em;
      vertical-align: top;
      border: none;
      border-bottom: 1px solid #{$brand-primary};
      &:hover {
        background: #eee;
      }
    }
  }

.grid {
  width: 100%;
  border: none;
  .header {
    border: none;
    border-bottom: 2px solid #000;
    margin-bottom: 2em;
    background: #eee;
  }
  
}


.items-list {
  article.primary {
    font-size: 1.2em;
    padding: 2em;
    background: #eee;
    margin-bottom: 2em;
 
    .logo {
      width: 80em;
      padding: 0 2em 2em 0;
    }
  }

  article {
    display: flex;
    padding-bottom: 4em;
    font-size: 1em;
    a {
      text-decoration: none;
    }
    .logo {
      flex: 1;
      padding: 0 2em 2em 0;
    }

    .presentation {
      flex: 2;
    }
  }
}

// ##################################################################
// ##
// ## HEADER
// ##
// ##################################################################

#header {
    position: relative;
    min-height: em(142px);
    background: #fff;
    padding-top: 1em;
    background-size: cover;

    .contact {
      background-color: #{$brand-primary};
    }
    

    a.mairie { 
      color: #{$color2};
      text-decoration: none;
      float: left;
      font-size: 0.8em;
      background: #{$brand-primary};
      border-radius: 4px;
      padding: 1em;
      margin-left: 1em;
      opacity: 0.5;
      &:hover {
        opacity: 1
      }
    }
   
    h1 {
      display: block;
      margin-left: auto;
      width: 500px;
      padding-top: 3em;
      margin-bottom: #{$gutter};
      img {
        width: 100%;
      }
    }
}

// ##################################################################
// ##
// ## MENU PRINCIPAL
// ##
// ##################################################################


.link-menu-mobile {
      width: 2em;
    height: 2em;
    margin: 0.5em 0 0 0.5em;
}
.link-menu-mobile span:after, .link-menu-mobile span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}
.link-menu-mobile span:after {
  top: 18px;
}
.link-menu-mobile span {
  position: relative;
  display: block;
}
.link-menu-mobile span, .link-menu-mobile span:after, .link-menu-mobile span:before {
  width: 100%;
  height: 4px;
  background-color: #fff;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}
.link-menu-mobile.on span {
  background-color: transparent;
}
.link-menu-mobile.on span:before {
  transform: rotate(45deg) translate(-1px, 0px);
}
.link-menu-mobile.on span:after {
  transform: rotate(-45deg) translate(6px, -7px);
}

.active {
  display: block!important;
}

#navigation { 
      background-color: #666;
      //padding: 1px;
      ul {
        margin-top: 0;
        padding-left: 0;
      }
      
      li {
        display: inline-block;
        vertical-align: top;
        &:hover, &.active, &:focus {
          background: #aaa;
        }

        
        a {
          color: #{$color2};
          text-decoration: none;
          line-height: 3.5em;
          display: inline-block;
          padding: 0.5em 1em 0.6em 1em;
        }
      }

      li:first-child  {
        a {
          span {
            padding-left: 3em;
          }
        }
      }
      

      .logo-nav {
        img {
          height: 4.5em;
          padding: 0;
        }
      }

      .input-group {
          margin-right: 1em;
        }
    }

    #navigation.fixed {
      position: fixed;
      top: 0px;
      left: 0;
      right: 0;
      z-index: 999;
      transition: 0.2s top cubic-bezier(.3,.73,.3,.74);
      border-top: 4px solid #{$brand-primary};
      #bar-search {
        display: none;
      }
    }

    #mobile-search {
      display: none;
    }


// ##################################################################
// ##
// ## FOOTER
// ##
// ##################################################################

#footer {
  background-size: contain;
  background: #4ca244;
  color: #fff;
  margin-top: 4em;
  border-top: 6px solid #45943e;
  a, a:visited, a:link {
    color:#fff; 
    text-decoration:none;
    &:focus, &:hover{
      text-decoration: underline;
    }
  }

}

#post-footer {
  margin-top: 4em;
  padding: 2em;
  background: #fff;
}


// ##################################################################
// ##
// ## FORMULAIRES
// ##
// ##################################################################

.screen-reader-response, .wpcf7-validation-errors {
    width: 75%;
    margin: 0 auto 3em;
    background: rgba(255, 235, 59, 0.31);
    padding: 1em;
    color: #FF5722;
    border: 1px solid rgba(255, 193, 7, 0.16);
    border-radius: 10px;
    ul {
      display:none;
    }
}
 .wpcf7-validation-errors {
  margin-top: 2em;
}
.form-group {
  width: 50%;
  margin: 0 auto 2em;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    &.wpcf7-not-valid {
      background: rgba(255, 235, 59, 0.31);
      color: #FF5722;
      border: 1px solid rgba(255, 193, 7, 0.16);
    }
}
.wpcf7-not-valid-tip {
  color: #FF5722;
}

span.wpcf7-list-item-label {
    padding-left: 1em;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

  .input-group {
      position: relative;
      display: table;
      border-collapse: separate;
  }

  .input-group .form-control, .input-group-btn {
    display: table-cell;
  }
  .input-group .form-control:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
.input-group-btn:last-child>.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    max-height: 34px;
}
  .input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
}

.input-group-btn>.btn {
    position: relative;
}

textarea {
  width: 100%;
  min-height: 5em;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    &:hover {
      background-color: #eee;
    }
}
.btn, .wpcf7-submit {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.row .item .wrapper-img {
    display: flex;
    h3 {
      text-align: left;
    }
    .logo {
      flex: 1
    }
    .caption {
      flex: 3
    }
}


// ##################################################################
// ##
// ## HELPERS
// ##
// ##################################################################


#page {
  width: #{$base-width};
  margin: 0 auto;
}

.full-width {
  width: 100vw;
  margin-left: 50%;
  margin-right: 0;
  transform: translateX(-50%);
}

.full-width .wrapper {
  background-color: transparent;
  margin: 0 auto;
  width: #{$base-width};

}


hr.separ {
  margin: em(20px) 0;
}




.bg_odd {
    background: #f0f0f0;
}

.btn-large, .wpcf7-submit {
  padding: 1.5em 4em;
  font-size: 1.5em;
}


.btn, .wpcf7-submit {
  display: inline-block;
  padding: 0.5em 1em;
  background: #eee;
  border-radius: 4px;
  text-decoration: none;
  &:hover {
    opacity: 0.8; 
    color: #fff;
  }
}



.btn-primary, .wpcf7-submit {
  background: #{$brand-primary};
  color: #{$link-brand-primary};


}

.mobile, .hide {
  display: none;
}


.pagination {
    margin-top: 5em;
    text-align: center; 
    .page-numbers {
      padding: 1em 2em;
      border: 1px solid #ccc;
      margin: 0;
      &.current {
        background: #eee;
      }
      &:hover {
        background: #eee;
      }
    }

}

.alert {
    padding: 0.5em;
    text-align: center;
    font-size: 1.6em;
    border-radius: 10px;
    margin-bottom: 0.5em;
    color: #fff;
}

.alert-success {

  background: #4ba246;
}

.alert-error {
  background: #F44336;
}




// ##################################################################
// ##
// ## SLIDER
// ##
// ##################################################################

.slider-pro {
  margin-bottom: em(40px);
}

// ##################################################################
// ##
// ## HOME
// ##
// ##################################################################

// BLOCS GRID ITEM PRESTATIONS & THEMES

.item
{
  
  position: relative;
  overflow: hidden;

  a {
    text-decoration: none;
  }

  .wrapper-img {
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
    }
  }

  img {
    transition: all 300ms ease-in;
  }
  .badge {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 1em;
    background: rgba(85,155,67,0.6);
    font-size: 0.8em;
    font-weight: bold;
    color: #{$color2};
  }
  .caption {
    padding: em(12px);
    width: 100%;
    transition: all 300ms ease-in;
    background: #fff;

    .date {
        position: absolute;
        right: 0.5em;
        top: 0;
        font-weight: light;
        font-size: 0.7em;
        color: #{$link-hover-color};
      }
  }
}

.item-zoom {
  a:hover img {
    transform: scale(1.05);
   }
   a:hover h3 {
    color: #000;
   }

   .caption {
      position: absolute;
      left:0;
      bottom:0;
      height: em(48px);
      overflow: hidden;
      background: rgba(255,255,255,0.7);
   }

  a:hover {
    .caption {
      height: em(140px); 
      transform-origin: left bottom;
      transform: translateY(-em(80px));
    }
  }

}

.item-fixe {
  h3 {
    font-size: 1.2em;
    line-height: 1;
    text-align: center;
  }
} 



// ##################################################################
// ##
// ## Icones
// ##
// ##################################################################

.glyph {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-size: cover;
    margin-right: 1em;

}
.glyph-points {
  background-image: url('../img/points.svg');
}

.glyph-home {
  background-image: url('../img/home.svg');
  position: absolute;
  margin-top: 0.5em;
}

.glyph-menu-mobile {
  background-image: url('../img/menu-mobile.svg');
  position: absolute;
  margin-top: 0.5em;
}

