// Config file and project variables

// font sizes
$base-font-size : 1.6rem !default; // ex. 1.6rem would be "16px" equivalent
$line-height    : 1.5 !default; // equiv line-height 1.5
$h1-size        : 3.2rem !default; // equiv "32px"
$h2-size        : 2.8rem !default; // equiv "28px"
$h3-size        : 2.4rem !default; // equiv "24px"
$h4-size        : 2.0rem !default; // equiv "20px"
$h5-size        : 1.8rem !default; // equiv "18px"
$h6-size        : 1.6rem !default; // equiv "16px"

// font stacks
$font-stack-common    : sans-serif !default; // common font
$font-stack-headings  : sans-serif !default; // headings font
$font-stack-monospace : consolas, courier, monospace !default; // monospace font

// color scheme
$color1    : #000 !default;
$color2    : #fff !default;
$color3    : #333 !default;
$color4    : #297922 !default;
$color5    : #4ca244 !default;

// colors used in project
$base-color: $color1;
$link-color: $color3;
$base-background : $color2;
// If you don't want any effect on focused/hovered links,
// comment variable below or make it equal to either $link-color or false or null
$link-hover-color: $color4;
$brand-primary: $color5;
$link-brand-primary: $color2;


// spacings (choose unit you prefer)
$tiny-value             : .5rem !default; // tiny value for margins / paddings
$tiny-plus-value        : .7rem !default; // tiny+ value for margins / paddings
$small-value            : 1rem !default; // small value for margins / paddings
$small-plus-value       : 1.5rem !default; // small+ value for margins / paddings
$medium-value           : 2rem !default; // medium value for margins / paddings
$medium-plus-value      : 3rem !default; // medium+ value for margins / paddings
$large-value            : 4rem !default; // large value for margins / paddings
$large-plus-value       : 6rem !default; // large value for margins / paddings
$extra-large-value      : 8rem !default; // extra large value for margins / paddings
$extra-large-plus-value : 12rem !default; // extra large value for margins / paddings
$ultra-large-value      : 16rem !default; // ultra large value for margins / paddings
$ultra-large-plus-value : 20rem !default; // ultra large value for margins / paddings

//kna-namespace (default : null)
$kna-namespace: null !default;


// Ajout ergotonic
$bfs: 16px;
$base-width: em(1200px, $bfs);

$gutter: em(20px);