/* custom */
/* ------------- */

@media (max-width: $base-width)  {

	#page, .full-width .wrapper {
	 	width: 100%;
	 	margin: 0;
	}

}




/* very large screens */
/* ------------- */

@media (min-width: $large-plus)  {


}


/* large screens */
/* ------------- */

@media (max-width: $large)  {

	
}

@media (min-width: $medium-plus)  and (max-width: $large)  {


}


/* medium screens */
/* -------------- */

@media (min-width: $small-plus) and (max-width: $medium) {

}



/* small screens */
/* ------------- */

@media (min-width: $small) and (max-width: em(930px)) {
	#menu-principal li:first-child { display: none;}
	.date .card {
	    width: 100%;
	    margin: 0 auto 2em;
	}
/*
	.btn {
	    width: 100%;
	    padding: 2em;
	}
*/
}

@media (max-width: $small) {
	.full-width {
	    width: 100%;
	    margin-left: 0;
	    transform: initial;
	}

	.desktop {
		display: none;
	}

	.mobile {
  		display: inherit;
  	}

  	.link-menu-mobile 
  	{
  		display: block;

  	}

  	#header{
  		min-height: 2.65em;
		.preheader {
			display: 	none;
		}
		h1{
			display: 	none;
		}
	}
	


	#navigation {
	    position: absolute;
	    top: 0;
	    background: #666 url('../img/logo-culture-nav.svg') top right;
	    background-size: auto 2.5em;
	    background-repeat: no-repeat;
	}
  	#navigation li:first-child a span {
	    padding-left: 0em;
	}
	#menu-principal {
		display: none;
		width: 100%;
		position: absolute;
	    z-index: 10;
	    background: #666;
	    height: auto;
	    li {
	    	display: block;
	    	text-align: center;
	    	font-weight: bold;
	    }
	    .glyph-home	 {
	    	display: none;
	    }
	}

	#menu-mobile {
	    margin-left: 1em;
	    min-height: 2.5em;
	}

	.logo {
	  float: none;
	  width: 100%;
	  margin: 0 0 2em 0;
	}
	.item-zoom {
		.caption {
	      height: em(140px); 
	      transform-origin: left bottom;
	      transform: translateY(-em(80px));
	    }
	}

	.items-list article {
	    flex-direction: column;
	    .logo, g img {
	    	padding: 0;
	    	width: 100%;
	    }
	}



	.layout {
    	padding:2em;
    	flex-direction: column;
    	aside {
			margin: 0;
		}
	}

	.date {
		.card {
		    margin: 0 auto 1em;
		    width: 100%;
		}
		
	}
	.inscription .btn {
			width: 100%;
		}

	footer#footer .grid>div {
	    margin-bottom: 2em;
	    width: 100%;
	    text-align: center;
	    ul {
	    	list-style-type: none;
	    	margin: 0;
	    	padding: 0;
	    	li {
	    		padding: 0.5em 0;
	    		background: rgba(255,255,255,0.2);
	    		margin: 2px;
	    	}
	    }
	}
}

@media (min-width: $tiny-plus) and (max-width: $small) {
	

	
}

/* tiny screens */
/* ------------- */

@media (max-width: $tiny) {
	

	

	.item img {
    	width: 100%;
  	}
  	.wrapper-img {
	    flex-direction: column;
		img {
	    	padding: 0;
	    	width: 100%;
	    }
	}
}